@model DAES.Model.SistemaIntegrado.TipoWorkflow

@{
    ViewBag.Title = "Detalles";
    ViewBag.SubTitle = "Tipo de tarea";
}

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Formulario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Formulario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>


    </dl>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.TipoWorkflowId }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
