@model DAES.Model.SistemaIntegrado.SupervisorAuxiliarTemporal
<table class="table table-striped">
    @for (var i = 0; i < Model.EscrituraConstitucionModificaciones.Count; i++)
    {
        @Html.HiddenFor(m => m.SupervisorAuxiliarTempId)
        @Html.HiddenFor(m => Model.EscrituraConstitucionModificaciones[i].EscrituraConstitucionId)
        <thead>
            <tr>
                <th>
                    @Html.LabelFor(m => m.EscrituraConstitucionModificaciones[i].Notaria, new { @class = "font-weight-bold" })
                </th>
                <th>
                    @Html.LabelFor(m => m.EscrituraConstitucionModificaciones[i].Fecha, new { @class = "font-weight-bold" })
                </th>
                <th>
                    @Html.LabelFor(m => m.EscrituraConstitucionModificaciones[i].NumeroRepertorio, new { @class = "font-weight-bold" })
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.EditorFor(m => m.EscrituraConstitucionModificaciones[i].Notaria, new { htmlAttributes = new { @class = "form-control" } })
                </td>
                <td>
                    @Html.EditorFor(m => m.EscrituraConstitucionModificaciones[i].Fecha, new { htmlAttributes = new { @class = "form-control" } })
                </td>
                <td>
                    @Html.EditorFor(m => m.EscrituraConstitucionModificaciones[i].NumeroRepertorio, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>
        </tbody>
    }
</table>
<div class="card-body" id="modificaciones">
    <h6 class="card-title" style="text-align:center">Modificaciones</h6>
    <hr />
    @Ajax.ActionLink("Agregar Modificacion", "ConstitucionAdd", null, new { Model.SupervisorAuxiliarTempId }, new AjaxOptions { UpdateTargetId = "modificaciones" })
</div>