@model DAES.Model.SistemaIntegrado.SupervisorAuxiliar

@if (Model.ExtractoAuxiliars.Count() != 0)
{
    for (var i = 0; i < Model.ExtractoAuxiliars.Count; i++)
    {
        @Html.HiddenFor(m => m.SupervisorAuxiliarId)
        @Html.HiddenFor(m => m.ExtractoAuxiliars[i].ExtractoAuxiliarId)
        <div class="form-group">
            @Html.LabelFor(m => m.ExtractoAuxiliars.FirstOrDefault().ConservadorComercio, new { @class = "font-weight-bold" })
            @Html.EditorFor(m => m.ExtractoAuxiliars[i].ConservadorComercio, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                @Html.LabelFor(m => m.ExtractoAuxiliars.FirstOrDefault().FechaInscripcion, new { @class = "font-weight-bold" })
                @Html.EditorFor(m => m.ExtractoAuxiliars[i].FechaInscripcion, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(m => m.ExtractoAuxiliars.FirstOrDefault().FechaPubliccionDiarioOficial, new { @class = "font-weight-bold" })
                @Html.EditorFor(m => m.ExtractoAuxiliars[i].FechaPubliccionDiarioOficial, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>        
        <div class="form-row">
            <div class="form-group col-md-3">
                @Html.LabelFor(m => m.ExtractoAuxiliars.FirstOrDefault().NumeroPublicacionDiarioOficial, new { @class = "font-weight-bold" })
                @Html.EditorFor(m => m.ExtractoAuxiliars[i].NumeroPublicacionDiarioOficial, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(m => m.ExtractoAuxiliars.FirstOrDefault().Foja, new { @class = "font-weight-bold" })
                @Html.EditorFor(m => m.ExtractoAuxiliars[i].Foja, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(m => m.ExtractoAuxiliars.FirstOrDefault().Numero, new { @class = "font-weight-bold" })
                @Html.EditorFor(m => m.ExtractoAuxiliars[i].Numero, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(m => m.ExtractoAuxiliars.FirstOrDefault().Año, new { @class = "font-weight-bold" })
                @Html.EditorFor(m => m.ExtractoAuxiliars[i].Año, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            @Ajax.ActionLink("Eliminar", "DeleteExtracto", null, new { Model.ExtractoAuxiliars.ToArray()[i].ExtractoAuxiliarId, Model.SupervisorAuxiliarId }, new AjaxOptions { UpdateTargetId = "extracto" })
        </div>
    }    
}
else
{
    @Ajax.ActionLink("Agregar Extracto", "ExtractoAdd", null, new { Model.SupervisorAuxiliarId }, new AjaxOptions { UpdateTargetId = "extracto" })
}