@model DAES.Model.SistemaIntegrado.SupervisorAuxiliar

<table class="table table-striped">    
    <thead>
        <tr>
            <th>
                @Html.LabelFor(m => m.RepresentanteLegals.FirstOrDefault().NombreCompleto, new { @class = "font-weight-bold" })
            </th>
            <th>
                @Html.LabelFor(m => m.RepresentanteLegals.FirstOrDefault().RUN, new { @class = "font-weight-bold" })
            </th>
            <th>
                @Html.LabelFor(m => m.RepresentanteLegals.FirstOrDefault().Profesion, new { @class = "font-weight-bold" })
            </th>
            <th>
                @Html.LabelFor(m => m.RepresentanteLegals.FirstOrDefault().Domicilio, new { @class = "font-weight-bold" })
            </th>
            <th>
                @Html.LabelFor(m => m.RepresentanteLegals.FirstOrDefault().Nacionalidad, new { @class = "font-weight-bold" })
            </th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.RepresentanteLegals.Count(); i++)
        {
            @Html.HiddenFor(m => m.SupervisorAuxiliarId)
            @Html.HiddenFor(m => Model.RepresentanteLegals[i].RepresentanteLegalId)
            <tr>
                <td>
                    @Html.EditorFor(m => m.RepresentanteLegals[i].NombreCompleto, new { htmlAttributes = new { @class = "form-control col-12" } })
                </td>
                <td>
                    @if (Model.RepresentanteLegals[i].RUN != null)
                    {
                        @Html.EditorFor(m => m.RepresentanteLegals[i].RUN, new { htmlAttributes = new { @class = "form-control col-11", @readonly = "readonly" } })
                    }
                    else
                    {
                        @Html.EditorFor(m => m.RepresentanteLegals[i].RUN, new { htmlAttributes = new { @class = "form-control col-11" } })
                    }
                </td>
                <td>
                    @Html.EditorFor(m => m.RepresentanteLegals[i].Profesion, new { htmlAttributes = new { @class = "form-control col-11" } })
                </td>
                <td>
                    @Html.EditorFor(m => m.RepresentanteLegals[i].Domicilio, new { htmlAttributes = new { @class = "form-control col-11" } })
                </td>
                <td>
                    @Html.EditorFor(m => m.RepresentanteLegals[i].Nacionalidad, new { htmlAttributes = new { @class = "form-control col-11" } })
                </td>
                <td>
                    @Ajax.ActionLink("Eliminar", "DeleteRepresentanteUpdate", null, new { Model.RepresentanteLegals.ToArray()[i].RepresentanteLegalId, Model.SupervisorAuxiliarId }, new AjaxOptions { UpdateTargetId = "legales" })
                </td>
            </tr>
        }
    </tbody>
</table>