@model DAES.Model.DTO.DTOSolicitudCertificado

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Solicitud de certificados</h1>
        <p class="lead">La emisión de certificados manuales se encuentra condicionada a la disponibilidad de antecedentes para su otorgamiento</p>
    </div>
</div>
<div class="container my-3">
    @Html.Partial("_Message")
</div>
<div class="container my-3">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.OrganizacionId)
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Datos del certificado</h5>
                <hr />
                <div class="form-group">
                    @Html.LabelFor(m => Model.TipoDocumentoId, new { @class = "font-weight-bold" })
                    @Html.DropDownListFor(m => Model.TipoDocumentoId, null, "Seleccione...", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => Model.TipoDocumentoId, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => Model.NombreOrganizacion, new { @class = "font-weight-bold" })
                    @Html.TextBoxFor(m => Model.NombreOrganizacion, new { @class = "form-control", @placeholder = "Ingrese registro o razón social" })
                    @Html.ValidationMessageFor(m => Model.NombreOrganizacion, "", new { @class = "text-danger" })
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-10 col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(m => Model.Rut, new { @class = "font-weight-bold" })
                            @Html.TextBoxFor(m => Model.Rut, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => Model.Rut, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => Model.Nombres, new { @class = "font-weight-bold" })
                    @Html.TextBoxFor(m => Model.Nombres, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => Model.Nombres, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => Model.Apellidos, new { @class = "font-weight-bold" })
                    @Html.TextBoxFor(m => Model.Apellidos, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => Model.Apellidos, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => Model.RegionId, new { @class = "font-weight-bold" })
                    @Html.DropDownListFor(m => Model.RegionId, null, "Seleccione...", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => Model.RegionId, "", new { @class = "text-danger" })
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-10 col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(m => Model.Fono, new { @class = "font-weight-bold" })
                            @Html.TextBoxFor(m => Model.Fono, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => Model.Fono, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-10 col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(m => Model.Email, new { @class = "font-weight-bold" })
                            @Html.TextBoxFor(m => Model.Email, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => Model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary btn-rounded" type="submit">Enviar</button>                
            </div>
        </div>
    }
</div>
<div class="container my-3">
    Volver al <a href='@Url.Action("Index", "DAES")'>DAES digital</a>
</div>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script>
    $(document).on('submit', 'form', function () {
        var buttons = $(this).find('[type="submit"]');
        if ($(this).valid()) {
            buttons.each(function (btn) {
                $(buttons[btn]).prop('disabled', true);
            });
        } else {
            buttons.each(function (btn) {
                $(buttons[btn]).prop('disabled', false);
            });
        }
    });

    $(document).ready(function () {
        $("#NombreOrganizacion").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Certificado/AutoComplete/",
                    data: { term: request.term, TipoDocumentoId: $('select[name=TipoDocumentoId]').val() },
                    type: "POST",
                    success: function (data) {
                        response($.map(data,
                            function (item) {
                                return { id: item.id, value: item.value };
                            }));
                    }
                });
            },
            select: function (event, ui) {
                $("#NombreOrganizacion").val(ui.item.value);
                $("#OrganizacionId").val(ui.item.id);
                return false;
            }
        });
        $("#TipoDocumentoId").change(function () {
            $("#NombreOrganizacion").val('');
            $("#OrganizacionId").val('');
        });
    });

    function submitError() {
        swal("ERROR");
    }
</script>
