@model DAES.Model.SistemaIntegrado.ExistenciaLegal


@*@Html.HiddenFor(model => Model.ExistenciaId)*@


<div class="form-horizontal">
    <div class="panel panel-default">

        <div>
            <td>
                @Html.DropDownListFor(model => model.TipoNormaId, null, "Seleccione...", htmlAttributes: new { @class = "form-control col-md-10" })
                @Html.HiddenFor(model => Model.ExistenciaId)
                @Html.HiddenFor(model => Model.OrganizacionId)
            </td>
            <td>
                @Html.EditorFor(model => model.NumeroNorma, new { htmlAttributes = new { @class = "form-control" } })
            </td>
            <td>
                @Html.EditorFor(model => model.FechaNorma, new { htmlAttributes = new { @class = "form-control" } })
            </td>
            <td>
                @Html.EditorFor(model => model.FechaPublicacionn, new { htmlAttributes = new { @class = "form-control" } })
            </td>
            <td>
                @Html.EditorFor(model => model.AutorizadoPor, new { htmlAttributes = new { @class = "form-control" } })
            </td>
        </div>



    </div>
    
</div>


