@model DAES.Model.SistemaIntegrado.Organizacion


<div style="display:none" name="divPosterior" id="divPosterior">
    <table class="table table-hover table-striped dataTable">
        @for (var i = 0; i < Model.Disolucions.Count(); i++)
        {
            @Html.HiddenFor(model => Model.Disolucions[i].OrganizacionId)
            @Html.HiddenFor(model => model.Disolucions[i].DisolucionId)
            <thead>
                <tr>
                    <th>
                        @Html.LabelFor(m => Model.Disolucions[i].FechaJuntaSocios, new { htmlAttributes = new { @class = "control-label col-md-10" } })
                        @Html.EditorFor(m => Model.Disolucions[i].FechaJuntaSocios, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                    </th>
                    <th>
                        @Html.LabelFor(m => Model.Disolucions[i].FechaEscrituraPublica, htmlAttributes: new { @class = "control-label col-md-10" })
                        @Html.EditorFor(m => Model.Disolucions[i].FechaEscrituraPublica, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                    </th>
                    <th>
                        @Html.LabelFor(m => Model.Disolucions[i].MinistroDeFe, htmlAttributes: new { @class = "control-label col-md-10" })
                        @Html.EditorFor(m => Model.Disolucions[i].MinistroDeFe, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                    </th>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(m => Model.Disolucions[i].FechaPublicacionDiarioOficial, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(m => Model.Disolucions[i].FechaPublicacionDiarioOficial, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                    </th>
                    <th>
                        @Html.LabelFor(m => Model.Disolucions[i].NumeroFojas, htmlAttributes: new { @class = "control-label col-md-10" })
                        @Html.EditorFor(m => Model.Disolucions[i].NumeroFojas, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                    </th>
                    <th>
                        @Html.LabelFor(m => Model.Disolucions[i].AñoInscripcion, htmlAttributes: new { @class = "control-label col-md-10" })
                        @Html.EditorFor(m => Model.Disolucions[i].AñoInscripcion, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                    </th>
                    <th>
                        @Ajax.ActionLink("Eliminar", "DisolucionDelete", null, new { Model.Disolucions.ToArray()[i].DisolucionId, Model.Disolucions.ToArray()[i].OrganizacionId }, new AjaxOptions { UpdateTargetId = "disolucion" })
                    </th>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(m => Model.Disolucions[i].DatosCBR, htmlAttributes: new { @class = "control-label col-md-10" })
                        @Html.EditorFor(m => Model.Disolucions[i].DatosCBR, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                    </th>
                    <th>
                        @Html.LabelFor(m => Model.Disolucions[i].FechaDisolucion, htmlAttributes: new { @class = "control-label col-md-10" })
                        @Html.EditorFor(m => Model.Disolucions[i].FechaDisolucion, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                    </th>
                    <th>
                        @Html.LabelFor(m => Model.Disolucions[i].Comision, htmlAttributes: new { @class = "control-label col-md-10" })
                        @Html.EditorFor(m => Model.Disolucions[i].Comision, new { htmlAttributes = new { @id = "comisionPosterior", @class = "form-control", @style = "height: 20px;" } })
                    </th>
                </tr>
            </thead>

        }
    </table>
</div>