@model DAES.Model.SistemaIntegrado.Organizacion

<table class="table table-hover table-striped datatable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(m => Model.DisolucionAsociacionGremials.First().NumeroOficio)
            </th>
            <th>
                @Html.DisplayNameFor(m => Model.DisolucionAsociacionGremials.First().FechaOficio)
            </th>
            <th>
                @Html.DisplayNameFor(m => Model.DisolucionAsociacionGremials.First().FechaAsambleaSocios)
            </th>
            <th>
                @Html.DisplayNameFor(m => Model.DisolucionAsociacionGremials.First().FechaEscrituraPublica)
            </th>
            <th>
                @Html.DisplayNameFor(m => Model.DisolucionAsociacionGremials.First().FechaPublicacionDiarioOficial)
            </th>
            <th>
                @Html.DisplayNameFor(m => Model.DisolucionAsociacionGremials.First().NombreNotaria)
            </th>
            <th>
                @Html.DisplayNameFor(m => Model.DisolucionAsociacionGremials.First().DatosNotario)
            </th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.DisolucionAsociacionGremials.Count(); i++)
        {
            <tr>
                @Html.EditorFor(m => m.DisolucionAsociacionGremials[i], new { htmlAttributes = new { @class = "form-control" } })
                <td>
                    @Ajax.ActionLink("Eliminar", "DisolucionAGDelete", null, new { Model.DisolucionAsociacionGremials.ToArray()[i].DisolucionAsociacionGremialId, Model.DisolucionAsociacionGremials.ToArray()[i].OrganizacionId }, new AjaxOptions { UpdateTargetId = "disolucion" })
                </td>
            </tr>
        }
    </tbody>
</table>