@model DAES.Model.SistemaIntegrado.Organizacion

@using (Html.BeginForm())
{
<table class="table table-hover table-striped datatable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.Disolucions.FirstOrDefault().NumeroOficio)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Disolucions.FirstOrDefault().FechaOficio)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Disolucions.FirstOrDefault().FechaAsambleaSocios)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Disolucions.FirstOrDefault().FechaEscrituraPublica)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Disolucions.FirstOrDefault().FechaPublicacionDiarioOficial)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Disolucions.FirstOrDefault().NombreNotaria)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Disolucions.FirstOrDefault().DatosNotario)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Disolucions.FirstOrDefault().FechaDisolucion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.Disolucions.Count(); i++)
        {
            <tr>
                @Html.EditorFor(m => m.Disolucions[i])
                <td>
                    @Ajax.ActionLink("Eliminar", "DisolucionAsociacionDelete", null, new { Model.Disolucions.ToArray()[i].DisolucionId, Model.Disolucions.ToArray()[i].OrganizacionId }, new AjaxOptions { UpdateTargetId = "disolucion" })
                </td>
            </tr>
        }
    </tbody>
</table>
}