@model DAES.Model.SistemaIntegrado.Organizacion

@Html.HiddenFor(model => model.ExistenciaLegals.FirstOrDefault().ExistenciaId)
@Html.HiddenFor(model => model.OrganizacionId)
<div class="form-horizontal">
    <div class="panel panel-default">

        @if (Model.ExistenciaLegals.Any())
        {
            <table class="table table-hover table-striped ">
                @for (int i = 0; i < Model.ExistenciaLegals.Count(); i++)
                {
                    @Html.HiddenFor(model => model.ExistenciaLegals.FirstOrDefault().ExistenciaId)
                    @Html.HiddenFor(model => model.OrganizacionId)
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => Model.ExistenciaLegals[i].FechaConstitutivaSocios)
                                @Html.EditorFor(model => model.ExistenciaLegals[i].FechaConstitutivaSocios, new { htmlAttributes = new { @class = "form-control" } })
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => Model.ExistenciaLegals[i].FechaEscrituraPublica)
                                @Html.EditorFor(model => model.ExistenciaLegals[i].FechaEscrituraPublica, new { htmlAttributes = new { @class = "form-control" } })
                            </th>
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => Model.ExistenciaLegals[i].FechaPublic)
                                @Html.EditorFor(model => model.ExistenciaLegals[i].FechaPublic, new { htmlAttributes = new { @class = "form-control" } })
                            </th>
                        </tr>
                        <tr>
                            <th colspan="2">
                                @Html.DisplayNameFor(model => Model.ExistenciaLegals[i].DatosGeneralesNotario)
                                @Html.EditorFor(model => model.ExistenciaLegals[i].DatosGeneralesNotario, new { htmlAttributes = new { @class = "form-control", @style = "max-width: 1200px;" } })
                            </th>
                        </tr>
                        <tr>
                            <th >
                                @Html.DisplayNameFor(model => Model.ExistenciaLegals[i].Fojas)
                                @Html.EditorFor(model => model.ExistenciaLegals[i].Fojas, new { htmlAttributes = new { @class = "form-control" } })
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => Model.ExistenciaLegals[i].FechaInscripcion)
                                @Html.EditorFor(model => model.ExistenciaLegals[i].FechaInscripcion, new { htmlAttributes = new { @class = "form-control" } })
                            </th>
                        </tr>
                        <tr>
                            <th colspan="2">
                                @Html.DisplayNameFor(model => Model.ExistenciaLegals[i].DatosCBR)
                                @Html.EditorFor(model => model.ExistenciaLegals[i].DatosCBR, new { htmlAttributes = new { @class = "form-control", @style = "max-width: 1200px;" } })

                            </th>
                        </tr>
                    </thead>
                }


            </table>

        }
        else
        {
            <table class="table table-hover table-striped">

                @Html.HiddenFor(model => model.ExistenciaLegals.FirstOrDefault().ExistenciaId)
                @Html.HiddenFor(model => model.OrganizacionId)
                <thead>
                    <tr>

                        <th>
                            @Html.DisplayNameFor(model => Model.ExistenciaLegals.FirstOrDefault().FechaConstitutivaSocios)
                            @Html.EditorFor(model => model.ExistenciaLegals.FirstOrDefault().FechaConstitutivaSocios, new { htmlAttributes = new { @class = "form-control" } })

                        </th>
                        <th>
                            @Html.DisplayNameFor(model => Model.ExistenciaLegals.FirstOrDefault().FechaEscrituraPublica)
                            @Html.EditorFor(model => model.ExistenciaLegals.FirstOrDefault().FechaEscrituraPublica, new { htmlAttributes = new { @class = "form-control" } })
                        </th>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => Model.ExistenciaLegals.FirstOrDefault().FechaPublic)
                            @Html.EditorFor(model => model.ExistenciaLegals.FirstOrDefault().FechaPublic, new { htmlAttributes = new { @class = "form-control" }  })
                        </th>
                    </tr>
                    <tr>
                        <th colspan="2">
                            @Html.DisplayNameFor(model => Model.ExistenciaLegals.FirstOrDefault().DatosGeneralesNotario)
                            @Html.EditorFor(model => model.ExistenciaLegals.FirstOrDefault().DatosGeneralesNotario, new { htmlAttributes = new { @class = "form-control", @style = "max-width: 1200px;" } })
                        </th>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => Model.ExistenciaLegals.FirstOrDefault().Fojas)
                            @Html.EditorFor(model => model.ExistenciaLegals.FirstOrDefault().Fojas, new { htmlAttributes = new { @class = "form-control" } })
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => Model.ExistenciaLegals.FirstOrDefault().FechaInscripcion)
                            @Html.EditorFor(model => model.ExistenciaLegals.FirstOrDefault().FechaInscripcion, new { htmlAttributes = new { @class = "form-control" } })
                        </th>
                    </tr>
                    <tr>
                        <th colspan="2">
                            @Html.DisplayNameFor(model => Model.ExistenciaLegals.FirstOrDefault().DatosCBR)
                            @Html.EditorFor(model => model.ExistenciaLegals.FirstOrDefault().DatosCBR, new { htmlAttributes = new { @class = "form-control", @style = "max-width: 1200px;" } })

                        </th>
                    </tr>
                </thead>



            </table>

        }


        <br />
    </div>
</div>