@model DAES.Model.SistemaIntegrado.Organizacion

<table class="table table-hover table-striped datatable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.ModificacionEstatutos.FirstOrDefault().Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.ModificacionEstatutos.FirstOrDefault().NumeroOficio)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.ModificacionEstatutos.FirstOrDefault().Vigente)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.ModificacionEstatutos.Count(); i++)
        {
            <tr>
                @Html.EditorFor(m => m.ModificacionEstatutos[i])
                <td>
                    @Ajax.ActionLink("Eliminar", "ModificacionDelete", null, new { Model.ModificacionEstatutos.ToArray()[i].ModificacionEstatutoId, Model.ModificacionEstatutos.ToArray()[i].OrganizacionId }, new AjaxOptions { UpdateTargetId = "modificacion" })
                </td>
            </tr>
        }
    </tbody>
</table>
