@model DAES.Model.SistemaIntegrado.Organizacion
@{ Model.ReformaAnteriors = Model.ReformaAnteriors.ToList().OrderByDescending(q => q.FechaReforma).ToList(); }



<table class="table table-hover table-striped ">

    @for (var i = 0; i < Model.ReformaAnteriors.Count; i++)
    {

        @Html.HiddenFor(model => model.ReformaAnteriors[i].IdReformaAnterior) 
        @Html.HiddenFor(model => model.ReformaAnteriors[i].OrganizacionId)

        if (Model.TipoOrganizacionId == 1)
        {
    <thead>

        <tr>
            <th>
                @Html.DisplayNameFor(model => Model.ReformaAnteriors[i].FechaReforma)
                @Html.EditorFor(model => Model.ReformaAnteriors[i].FechaReforma, new { htmlAttributes = new { @class = "form-control", @style = "width: 170px;" } })
            </th>

        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.TipoNormaId, "Tipo de Norma", htmlAttributes: new { @class = "control-label col-md-10" })
                @Html.DropDownListFor(model => Model.ReformaAnteriors[i].TipoNormaId, new SelectList(ViewBag.TipoNormaaId, "Value", "Text", Model.ReformaAnteriors[i].TipoNormaId), "Seleccione...", new { @class = "form-control", @style = "width: 180px;" })
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.ReformaAnteriors[i].NNorma)
                @Html.EditorFor(model => Model.ReformaAnteriors[i].NNorma, new { htmlAttributes = new { @class = "form-control", @style = "width: 180px;" } })
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => Model.ReformaAnteriors[i].FechaNorma)
                @Html.EditorFor(model => Model.ReformaAnteriors[i].FechaNorma, new { htmlAttributes = new { @class = "form-control", @style = "width: 170px;" } })
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.ReformaAnteriors[i].FechaPublicDiario)
                @Html.EditorFor(model => Model.ReformaAnteriors[i].FechaPublicDiario, new { htmlAttributes = new { @class = "form-control", @style = "width: 170px;" } })
            </th>
        </tr>
        <tr>
            <th colspan="2">
                @Html.DisplayNameFor(model => Model.ReformaAnteriors[i].DatosNotario)
                @Html.EditorFor(model => Model.ReformaAnteriors[i].DatosNotario, new { htmlAttributes = new { @class = "form-control", @style = "max-width: 1200px;" } })
            </th>
        </tr>
        <tr>
            <th colspan="2">
                @Html.DisplayNameFor(model => Model.ReformaAnteriors[i].EspaciosDocAnterior)
                @Html.EditorFor(model => Model.ReformaAnteriors[i].EspaciosDocAnterior, new { htmlAttributes = new { @class = "form-control", @style = "max-width: 1200px;" } })
            </th>
        </tr>
        <tr>
            <td>

                @Ajax.ActionLink("Eliminar", "ReformaDeleteAnterior", null, new { Model.ReformaAnteriors.ToArray()[i].IdReformaAnterior, Model.ReformaAnteriors.ToArray()[i].OrganizacionId }, new AjaxOptions { UpdateTargetId = "reforma" }, new { @style = "Text-Decoration : none", @class="btn btn-danger" })

            </td>
        </tr>
    </thead>
        
            }


        }
    <tbody>

        @for (var i = 0; i < Model.ReformaAnteriors.Count; i++)
        {

                @Html.HiddenFor(model => model.ReformaAnteriors[i].IdReformaAnterior)
                @Html.HiddenFor(model => model.ReformaAnteriors[i].OrganizacionId)
             <tr>

                    @if (Model.ReformaAnteriors[i].FechaReforma != null && Model.ReformaAnteriors[i].FechaReforma.Value.Date.CompareTo(Model.ReformaAnteriors.Where(q => q.FechaReforma == q.FechaReforma).OrderBy(q => q.FechaReforma).FirstOrDefault().FechaReforma) > 0)
                    {

                         <p class=" alert alert-success text-center">Esta es la última reforma</p>                    
                         break;

                    }

                    @if (Model.ReformaAnteriors.Count == 1 && Model.ReformaAnteriors[i].FechaReforma != null)
                    {
                        <p class=" alert alert-success text-center">Esta es la última reforma</p>                   
                        break;
                    }


            </tr>
            }
    </tbody>
</table>



