@model DAES.Model.SistemaIntegrado.Organizacion

<table class="table table-hover table-striped ">

    @if (!Model.Saneamientos.Any())
    {
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => Model.Saneamientos.FirstOrDefault().FechaEscrituraPublicaa)
                    @Html.EditorFor(model => Model.Saneamientos.FirstOrDefault().FechaEscrituraPublicaa, new { htmlAttributes = new { @class = "form-control" } })
                </th>
                <th>
                    @Html.DisplayNameFor(model => Model.Saneamientos.FirstOrDefault().FechaaPublicacionDiario)
                    @Html.EditorFor(model => Model.Saneamientos.FirstOrDefault().FechaaPublicacionDiario, new { htmlAttributes = new { @class = "form-control" } })
                </th>
            </tr>
            <tr>
                <th colspan="2">
                    @Html.DisplayNameFor(model => Model.Saneamientos.FirstOrDefault().DatoGeneralesNotario)
                    @Html.EditorFor(model => Model.Saneamientos.FirstOrDefault().DatoGeneralesNotario, new { htmlAttributes = new { @class = "form-control", @style = "max-width: 1200px;" } })
                </th>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => Model.Saneamientos.FirstOrDefault().Fojass)
                    @Html.EditorFor(model => Model.Saneamientos.FirstOrDefault().Fojass, new { htmlAttributes = new { @class = "form-control" } })
                </th>
                <th>
                    @Html.DisplayNameFor(model => Model.Saneamientos.FirstOrDefault().FechaaInscripcion)
                    @Html.EditorFor(model => Model.Saneamientos.FirstOrDefault().FechaaInscripcion, new { htmlAttributes = new { @class = "form-control" } })
                </th>
            </tr>
            <tr>
                <th colspan="2">
                    @Html.DisplayNameFor(model => Model.Saneamientos.FirstOrDefault().DatossCBR)
                    @Html.EditorFor(model => Model.Saneamientos.FirstOrDefault().DatossCBR, new { htmlAttributes = new { @class = "form-control ", @style= "max-width: 1200px;" } })
                </th>
            </tr>
        </thead>

    }
    @for (var i = 0; i < Model.Saneamientos.Count(); i++)
    {
        @Html.HiddenFor(model => model.Saneamientos[i].IdSaneamiento)
        @Html.HiddenFor(model => model.Saneamientos[i].OrganizacionId)
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => Model.Saneamientos[i].FechaEscrituraPublicaa)
                    @Html.EditorFor(model => Model.Saneamientos[i].FechaEscrituraPublicaa, new { htmlAttributes = new { @class = "form-control", @style = "width: 190px;" } })
                </th>
                <th>
                    @Html.DisplayNameFor(model => Model.Saneamientos[i].FechaaPublicacionDiario)
                    @Html.EditorFor(model => Model.Saneamientos[i].FechaaPublicacionDiario, new { htmlAttributes = new { @class = "form-control", @style = "width: 190px;" } })
                </th>
            </tr>
            <tr>
                <th colspan="2">
                    @Html.DisplayNameFor(model => Model.Saneamientos[i].DatoGeneralesNotario)
                    @Html.EditorFor(model => Model.Saneamientos[i].DatoGeneralesNotario, new { htmlAttributes = new { @class = "form-control", @style = "max-width: 1200px;" } })
                </th>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => Model.Saneamientos[i].Fojass)
                    @Html.EditorFor(model => Model.Saneamientos[i].Fojass, new { htmlAttributes = new {@class = "form-control", @style = "width: 190px;" } })
                </th>
                <th>
                    @Html.DisplayNameFor(model => Model.Saneamientos[i].FechaaInscripcion)
                    @Html.EditorFor(model => Model.Saneamientos[i].FechaaInscripcion, new { htmlAttributes = new { @class = "form-control", @style = "width: 190px;" } })
                </th>
            </tr>
            <tr>
                <th colspan="2">
                    @Html.DisplayNameFor(model => Model.Saneamientos[i].DatossCBR)
                    @Html.EditorFor(model => Model.Saneamientos[i].DatossCBR, new { htmlAttributes = new { @class = "form-control", @style = "max-width: 1200px;" } })
                </th>
            </tr>
        </thead>

    }

    <tbody>
        
    </tbody>
</table>


