@using Mvc.CascadeDropDown
@model DAES.Model.SistemaIntegrado.Organizacion

@{ ViewBag.Title = "Editar";
    ViewBag.SubTitle = "Organización"; }

@using (Html.BeginForm("EditOrganizacion", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => Model.NumeroRegistro)

    <div class="panel panel-default">
        <div class="panel-heading">Organización</div>
        <div class="panel-body">
            <div class="form-horizontal">
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.OrganizacionId)

                <div class="form-group">
                    @Html.LabelFor(model => model.NumeroRegistro, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NumeroRegistro, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                        @Html.ValidationMessageFor(model => model.NumeroRegistro, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TipoOrganizacionId, "Tipo organización", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => Model.TipoOrganizacionId, null, "Seleccione...", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TipoOrganizacionId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RazonSocial, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.RazonSocial, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RazonSocial, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EstadoId, "Estado", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => Model.EstadoId, null, "Seleccione...", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.EstadoId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.SituacionId, "Situacion", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => Model.SituacionId, null, "Seleccione...", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SituacionId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RubroId, "Rubro", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => Model.RubroId, null, "Seleccione...", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.RubroId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SubRubroId, "SubRubro", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => Model.SubRubroId, null, "Seleccione...", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SubRubroId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RegionId, "Región", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => Model.RegionId, null, "Seleccione...", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.RegionId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ComunaId, "Comuna", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">

                        @Html.CascadingDropDownListFor(m => m.ComunaId,
      "RegionId",
      Url.Action("GetComuna", "Organizacion"),
      "RegionId",
      "Seleccione...",
      true,
      new { @class = "form-control" })

                        @Html.ValidationMessageFor(model => model.ComunaId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.RUT, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.RUT, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RUT, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Sigla, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Sigla, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Sigla, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group">
                    @Html.LabelFor(model => model.Fono, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Fono, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Fono, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Fax, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Fax, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Fax, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.URL, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.URL, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.URL, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NumeroSociosConstituyentes, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NumeroSociosConstituyentes, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NumeroSociosConstituyentes, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NumeroPeronasJuridicas, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NumeroPeronasJuridicas, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NumeroPeronasJuridicas, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.NumeroSocios, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NumeroSocios, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NumeroSocios, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NumeroSociosHombres, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NumeroSociosHombres, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NumeroSociosHombres, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NumeroSociosMujeres, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NumeroSociosMujeres, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NumeroSociosMujeres, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MinistroDeFe, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MinistroDeFe, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MinistroDeFe, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CiudadAsamblea, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CiudadAsamblea, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CiudadAsamblea, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NombreContacto, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NombreContacto, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NombreContacto, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DireccionContacto, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DireccionContacto, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DireccionContacto, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TelefonoContacto, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TelefonoContacto, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TelefonoContacto, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EmailContacto, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.EmailContacto, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EmailContacto, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FechaCreacion, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FechaCreacion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FechaCreacion, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FechaCelebracion, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FechaCelebracion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FechaCelebracion, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FechaPubliccionDiarioOficial, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FechaPubliccionDiarioOficial, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FechaPubliccionDiarioOficial, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FechaActualizacion, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FechaActualizacion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FechaActualizacion, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EsGeneroFemenino, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.EsGeneroFemenino)
                            @Html.ValidationMessageFor(model => model.EsGeneroFemenino, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EsImportanciaEconomica, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.EsImportanciaEconomica)
                            @Html.ValidationMessageFor(model => model.EsImportanciaEconomica, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NotaDirectorio, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NotaDirectorio, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NotaDirectorio, "", new { @class = "text-danger" })
                    </div>
                </div>


            </div>
        </div>
    <input type="submit" value="Guardar datos organización" class="btn btn-primary my-3" style="margin-bottom: 15px; margin-left:5px" />

    </div>
    

}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => Model.NumeroRegistro)



    <div class="panel panel-default">
        <div class="panel-heading">Directorio</div>
        <div class="panel-body">
            <div id="directorio">
                @Html.Partial("_DirectorioEdit", Model)
            </div>
            @Ajax.ActionLink("Agregar directorio", "DirectorioAdd", null, new { Model.OrganizacionId }, new AjaxOptions { UpdateTargetId = "directorio" })
        </div>
    </div>

    <br /><div id="DivConsti">
        <label>Constitución posterior al 2003</label><br />
        <input id="Constitucion" name="Constitucion" type="radio" value="Si" /> si
        <input id="Constitucion" name="Constitucion" type="radio" value="No" /> no
    </div>

    <div id="divExis" @*name="divExis"*@>
        @{if (Model.TipoOrganizacionId == 1)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">Autorización de Existencia Legal</div>
                    <div class="panel-body">
                        <div id="existencia">
                            @Html.Partial("_ModificacionEdit", Model)
                        </div>
                        <br />
                        <input type="button" value="Limpiar campos" id="limpiar" class="btn btn-primary" />
                    </div>
                </div>
            }
            if (Model.TipoOrganizacionId == 2 || Model.TipoOrganizacionId == 3)
            {

                <div class="panel panel-default">
                    <div class="panel-heading">Autorización de Existencia Legal</div>
                    <div class="panel-body">
                        <div id="existencia">
                            @Html.Partial("_ModificacionAG", Model)
                        </div>
                    </div>
                </div> } }
    </div>

    <div class="panel panel-default" id="CPostRPost" name="CPostRPost" style="display:none">
        <div class="panel-heading">Autorización de Existencia Legal</div>
        <div class="panel-body">
            <div id="existencia">
                @Html.Partial("_ModificacionCPostRPostEdit", Model)
            </div>
            <br />
            <input type="button" value="Limpiar campos" id="limpiarExiPost" class="btn btn-primary" />
        </div>
    </div>

    <div>
        @if (Model.TipoOrganizacionId != 2 && Model.TipoOrganizacionId != 3)
        {
            <label>Tiene Saneamiento?</label>
            <input id="Tiene" name="Tiene" type="checkbox">
            <hr>
            <div class="panel panel-default" id="divSane" name="divSane" style="display:none">
                <div class="panel-heading">Saneamiento</div>
                <div id="Saneamiento">
                    @Html.Partial("_SaneamientoEdit", Model)
                </div>
                <br />
                <input type="button" value="Limpiar campos" id="limpiarSan" class="btn btn-primary" />
            </div>}
    </div>

    <label>Reformas posterior al 2003</label>
    <br /><div id="DivRef">
        <input id="FReforma" name="FReforma" type="radio" value="Si" /> si
        <input id="FReforma" name="FReforma" type="radio" value="No" /> no
    </div>

    <div class="panel panel-default" id="reformaDiv">
        <div class="panel-heading">Reforma</div>
        <div class="panel-body">
            <div id="reforma">
                @Html.Partial("_Reforma", Model)

            </div>

            @Ajax.ActionLink("Agregar reforma", "ReformaAdd", null, new { Model.OrganizacionId }, new AjaxOptions { UpdateTargetId = "reforma" })
        </div>
    </div>

    <div class="panel panel-default" id="reformaDivPost" style="display:none">
        <div class="panel-heading">Reforma</div>
        <div class="panel-body">
            <div id="reformas">
                @Html.Partial("_ReformaPost", Model)
            </div>

            @Ajax.ActionLink("Agregar reforma", "ReformaAddPost", null, new { Model.OrganizacionId }, new AjaxOptions { UpdateTargetId = "reformas" }, new { onclick = "actualizarr()" })
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Disolución</div>
        <div class="panel-body">
            <div id="disolucion">
                @Html.Partial("_DisolucionEdit", Model)
            </div>
        </div>
    </div>

    <input type="submit" value="Guardar" class="btn btn-primary my-3" />
    <p></p>

}

@if (Model.Saneamientos.Any())
{
    <input type="hidden" id="a" value="1" />
}
else
{
    <input id="a" value="0" type="hidden" />
}

@if (Model.ExistenciaLegals.Any())
{
    <input type="hidden" id="tieneExis" value="1" />
}
else
{
    <input id="tieneExis" value="0" type="hidden" />
}

@if (Model.Reformas.Any())
{
    <input type="hidden" id="tieneRef" value="1" />
}
else
{
    <input id="tieneRef" value="0" type="hidden" />
}


@Html.ActionLink("Volver al listado", "Index")



<script type="text/javascript">

    $("#Tiene").change(function () {
        if ($("#Tiene").is(':checked')) {
            $("#divSane").show();
        } else {
            $("#divSane").hide();
        }
    });



    function actualizarForm() {

        var fechar = document.getElementById('Reformas_0__FechaReforma').value;
        var fecharePost = document.getElementById('Reformas_0__FechaReformaa').value;
        if (fecharePost > "2003/01/01" && fecharePost != null) {
            $("#reformaDiv").hide();
            $("#reformaDivPost").show();
        } else  {
            $("#reformaDiv").show();
            $("#reformaDivPost").hide();
        }

    }

    function actualizarExis() {
        var fecharrr = document.getElementById('ExistenciaLegals_0__FechaPublicacionn').value;
        var fecharposterior = document.getElementById('ExistenciaLegals_0__FechaPublic').value;
        console.log(fecharposterior);
        if (fecharposterior > "2003/01/01" && fecharrr != null) {
            $("#divExis").hide();
            $("#CPostRPost").show();
        } else {
            $("#divExis").show();
            $("#CPostRPost").hide();
        }
    }

    

    function LimpiarCampos() {

        document.getElementById("ExistenciaLegals_0__AutorizadoPor").value = "";
        document.getElementById("ExistenciaLegals_0__FechaPublicacionn").value = "";
        document.getElementById("ExistenciaLegals_0__FechaNorma").value = "";
        document.getElementById("ExistenciaLegals_0__NumeroNorma").value = "";
        document.getElementById("ExistenciaLegals_0__TipoNormaId").value = "";
    }

    function LimpiarCampoExisPosterior() {

        document.getElementById("ExistenciaLegals_0__FechaConstitutivaSocios").value = "";
        document.getElementById("ExistenciaLegals_0__FechaEscrituraPublica").value = "";
        document.getElementById("ExistenciaLegals_0__FechaPublic").value = "";
        document.getElementById("ExistenciaLegals_0__DatosGeneralesNotario").value = "";
        document.getElementById("ExistenciaLegals_0__Fojas").value = "";
        document.getElementById("ExistenciaLegals_0__FechaInscripcion").value = "";
        document.getElementById("ExistenciaLegals_0__DatosCBR").value = "";
    } 

    function LimpiarCamposSanemiento() {

        document.getElementById("FechaEscrituraPublicaa").value = "";
        document.getElementById("FechaaPublicacionDiario").value = "";
        document.getElementById("DatoGeneralesNotario").value = "";
        document.getElementById("Fojass").value = "";
        document.getElementById("FechaaInscripcion").value = "";
        document.getElementById("DatossCBR").value = "";
    }

    $(document).ready(function () {


        $("#limpiar").on("click", function () {
            LimpiarCampos()
        });

        $("#limpiarExiPost").on("click", function () {
            LimpiarCampoExisPosterior()
        });

        $("#limpiarSan").on("click", function () {
            LimpiarCamposSanemiento()
        });

        if ("#a".val == 1) {
            $("#Tiene").prop("checked", true)
            $("#divSane").show();
        } else {
            $("#divSane").hide();
        }


        var objeto = document.getElementById('a').value;
        if (objeto > 0) {
            $("#divSane").show();
            $("#Tiene").prop("checked", true)
        }
        else {
            $("#divSane").hide();

        }

        var objetos = document.getElementById('tieneExis').value;
        if (objetos > 0) {
            actualizarExis()
        }


        var objetoss = document.getElementById('tieneRef').value;
        if (objetoss > 0) {
            actualizarForm();
        }

        $("input[name=Constitucion]").click(function () {
            ;
            if ($('input:radio[name=Constitucion]:checked').val().toString() == "Si") {
                $("#CPostRPost").show();
                $("#divExis").hide();
            } else {
                $("#CPostRPost").hide();
                $("#divExis").show();
            }
        });

        $("input[name=FReforma]").click(function () {
            if ($('input:radio[name=FReforma]:checked').val().toString() == "Si") {
                $("#reformaDivPost").show();
                $("#reformaDiv").hide();
            } else {
                $("#reformaDivPost").hide();
                $("#reformaDiv").show();
            }
        });

    });

</script>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")*@
