@model DAES.Model.SistemaIntegrado.Workflow

@{
    ViewBag.Title = "Eliminar";
    ViewBag.SubTitle = "Tarea";
}

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Proceso.Solicitante.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proceso.Solicitante.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Observacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoAprobacion.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoAprobacion.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Confirmar eliminación" class="btn btn-primary" /> 
        </div>
    }