@model IEnumerable<DAES.Web.BackOffice.Controllers.WorkflowController.DTOWorkflow>
@{
    Layout = null;
}

<style>
    thead input {
        width: 100%;
    }
</style>


@*<div class="col-md-12">
    <div class="col-md-6">
        <table border="0" cellspacing="5" cellpadding="5" class="table">
            <tbody>
                <tr>
                    <td>Fecha Inicio Tarea / Proceso:</td>
                    <td><input type="text" id="min" name="min" class="form-control"></td>
                </tr>
                <tr>
                    <td>Fecha Término Tarea / Proceso:</td>
                    <td><input type="text" id="max" name="max" class="form-control"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>*@

<table class="table table-hover table-striped" id="tareas" style="max-width: 100%">
    <thead>
        <tr>
            <th>
                Estado
            </th>
            <th>
                Tarea
            </th>
            <th>
                Proceso
            </th>
            <th>
                Número registro
            </th>
            <th>
                Correlativo
            </th>
            <th>
                Observación
            </th>
            <th>
                Funcionario
            </th>
            <th>
                Fecha Creacion Proceso
            </th>
            <th>
                Fecha Creacion Tarea
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderByDescending(q => q.WorkflowId))
        {
            <tr>
                <td>
                    @{
                        if (!item.Terminada && DateTime.Now.Date < item.FechaVencimiento.Date)
                        {
                            <span class="label label-success label-as-badge">En curso normal</span>
                        }
                        if (!item.Terminada && DateTime.Now.Date == item.FechaVencimiento.Date)
                        {
                            <span class="label label-warning label-as-badge">Por vencer</span>
                        }
                        if (!item.Terminada && DateTime.Now.Date > item.FechaVencimiento.Date)
                        {
                            <span class="label label-danger label-as-badge">Atrasado</span>
                        }
                    }
                </td>
                <td>
                    @item.WorkflowId - @item.Workflow
                </td>
                <td>
                    @item.ProcesoId - @item.Proceso
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroRegistro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Correlativo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreFuncionario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaCreacionProcess)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaCreacionWorkFlow)
                </td>
                <td>
                    @Html.ActionLink("Ejecutar", item.Formulario, "Task", new { item.WorkflowId }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    var minDate, maxDate;

    minDate = new DateTime($('#min'), {
        format: 'MMMM Do YYYY'
    });

    maxDate = new DateTime($('#max'), {
        format: 'MMMM Do YYYY'
    });
    //var table = $('#tareas').DataTable();
    //// Refilter the table
    $('#min, #max').on('change', function () {
        table.draw();
    });
</script>
