@model DAES.Web.BackOffice.Controllers.TaskModel
@if (Model.Disolucions.Count() != 0)
{
    @Ajax.ActionLink("Agregar disolución", "DisolucionAdd", null, new { Model.Workflow.WorkflowId, Model.Organizacion.OrganizacionId }, new AjaxOptions { UpdateTargetId = "disolucion" }, new { @style = "display:none;" })
}
else
{

    @Ajax.ActionLink("Agregar disolución", "DisolucionAdd", null, new { Model.Workflow.WorkflowId, Model.Organizacion.OrganizacionId }, new AjaxOptions { UpdateTargetId = "disolucion" })
}
@if (Model.TipoOrganizacionId == (int)DAES.Infrastructure.Enum.TipoOrganizacion.AsociacionConsumidores ||
    Model.TipoOrganizacionId == (int)DAES.Infrastructure.Enum.TipoOrganizacion.AsociacionGremial)
{
    #region Asociaciones
    <div>
        @Html.Partial("_AsociacionesEdit", Model)
    </div>
    #endregion
}
else
{
    <div>
        <table class="table table-hover table-striped dataTable">
            <table class="table dataTable">
                <tr>
                    <th>
                        <label>¿Disolución anterior al año 2003?</label>
                    </th>
                </tr>
                <tr>
                    <td>
                        @for (var i = 0; i < Model.Disolucions.Count(); i++)
                        {
                            if (Model.Disolucions[i].Anterior == true)
                            {
                                @Html.RadioButtonFor(model => model.Disolucions[i].Anterior, "true", htmlAttributes: new { @id = "anterior", @checked = "checked" })<label>Si</label>
                                @Html.RadioButtonFor(model => model.Disolucions[i].Anterior, "false", htmlAttributes: new { @id = "posterior" })<label>No</label>
                            }
                            else if (Model.Disolucions[i].Anterior == false)
                            {
                                @Html.RadioButtonFor(model => model.Disolucions[i].Anterior, "true", htmlAttributes: new { @id = "anterior" })<label>Si</label>
                                @Html.RadioButtonFor(model => model.Disolucions[i].Anterior, "false", htmlAttributes: new { @id = "posterior", @checked = "checked" })<label>No</label>
                            }
                            else
                            {
                                @Html.RadioButtonFor(model => model.Disolucions[i].Anterior, "true", htmlAttributes: new { @id = "anterior" })<label>Si</label>
                                @Html.RadioButtonFor(model => model.Disolucions[i].Anterior, "false", htmlAttributes: new { @id = "posterior" })<label>No</label>
                            }
                        }
                    </td>
                </tr>
            </table>
            @if (Model.Disolucions.Count() != 0)
            {
                if (Model.Disolucions.FirstOrDefault().Anterior == null)
                {
                    <div id="divAnterior" name="divAnterior">
                        @Html.Partial("_CoopAnterior", Model)
                    </div>
                    <div style="display:none" name="divPosterior" id="divPosterior">
                        @Html.Partial("_CoopPosterior", Model)
                    </div>
                }
                else
                {
                    if (Model.Disolucions.FirstOrDefault().Anterior == false)
                    {
                        <div name="divPosterior" id="divPosterior">
                            @Html.Partial("_CoopPosterior", Model)
                        </div>
                        <div style="display:none" id="divAnterior" name="divAnterior">
                            @Html.Partial("_CoopAnterior", Model)
                        </div>
                    }
                    else
                    {
                        <div style="display:none" name="divPosterior" id="divPosterior">
                            @Html.Partial("_CoopPosterior", Model)
                        </div>
                        <div id="divAnterior" name="divAnterior">
                            @Html.Partial("_CoopAnterior", Model)
                        </div>
                    }
                }
            }
        </table>
    </div>
    @Html.Partial("_ComisionEdit", Model);
}
<script>
    $(document).ready(function () {
        $("#anterior").change(function () {
            if ($("#anterior").is(':checked')) {
                $("#divAnterior").show();
                $("#divPosterior").hide();
                $("#posterior").prop("checked", false);
            }
        });
        $("#posterior").change(function () {
            if ($("#posterior").is(':checked')) {
                $("#divPosterior").show();
                $("#divAnterior").hide();
                $("#anterior").prop("checked", false);
            }
        });
    });
</script>
