@model DAES.Web.BackOffice.Controllers.TaskModel

<table class="table table-hover table-striped datatable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => Model.Disolucions.FirstOrDefault().Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.Disolucions.FirstOrDefault().NumeroOficio)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.Disolucions.FirstOrDefault().FechaAsamblea)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.Disolucions.FirstOrDefault().FechaPublicacionDiarioOficial)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.Disolucions.Count(); i++)
        {
            <tr>
                @Html.EditorFor(m => m.Disolucions[i])
                <td>
                    @Ajax.ActionLink("Eliminar", "DisolucionDelete", null, new { Model.WorkflowId, Model.Disolucions.ToArray()[i].DisolucionId }, new AjaxOptions { UpdateTargetId = "disolucion" })
                </td>
            </tr>
        }
    </tbody>
</table>
