
<script type="text/javascript">
    $(document).ready(function () {
        if ('@TempData["Success"]' != "")
        {
            M.toast({ html: '@TempData["Success"]' });
        }
    });
</script>

@if (TempData["Error"] != null)
{
<div class="card">
    <div class="card-content red-text">
        <span class="card-title">Problemas detectados:</span>
        <ul>
            @foreach (var item in TempData["Error"] as List<string>)
            {
<li class="red-text">@item</li>                }
        </ul>
    </div>
</div>}
@if (!ViewData.ModelState.IsValid)
{
@Html.ValidationSummary(false, "", new { @class = "red-text" })}

@if (TempData["Warning"] != null)
{
<div id="card-alert" class="card orange lighten-1">
    <div class="card-content white-text">
        <span class="card-title white-text darken-1"><i class="mdi-social-notifications"></i>Alerta</span>
        <ul>
            @foreach (var item in TempData["Warning"] as List<string>)
            {
<li>@item</li>                }
        </ul>
    </div>
</div>}

