@model DAES.Web.BackOffice.Controllers.TaskModel
@{
    ViewBag.Title = "Ejecución de tarea";
}
<style>
    #capa1 {
        position: absolute;
        z-index: 1;
        background-color: #FFFFFF;
        right: 8%;
        bottom: 10%;
    }

    #capa2 {
        position: absolute;
        z-index: 1;
        background-color: #FFFFFF;
        right: 10%;
        bottom: 50%;
        background-color: darkcyan;
    }
</style>
@*@if (ViewBag.TipoUsuario == "Administrador")
    {
        <div id="capa2">
            @Html.ActionLink("Cambiar ejecutante ", "CambioBandeja", "Task", new { Model.Workflow.WorkflowId }, new { @class = "btn btn-primary", @style = "position:fixed; background-color:darkcyan" })

        </div>

    }*@
<div id="capa1">
    @Html.ActionLink("Enviar tarea", "Send", "Task", new { Model.Workflow.WorkflowId }, new { @class = "btn btn-primary", @style = "position:fixed" })

</div>
<ul class="nav nav-tabs">
    <li class="active">
        <a href="#Info" data-toggle="tab">Información de la tarea</a>
    </li>
    <li>
        <a href="#Do" data-toggle="tab">Ejecutar tarea</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade in active" id="Info">
        <br />
        @Html.Partial("_WorkflowDetails", Model.Workflow)
        @Html.Partial("_ProcesoDetails", Model.Workflow.Proceso)
        @*@Html.ActionLink("Enviar tarea", "Send", "Task", new { Model.Workflow.WorkflowId }, new { @class = "btn btn-primary" })*@
    </div>

    <div class="tab-pane fade" id="Do">
        <br />
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Datos de Organización</div>
                    <div class="panel-body" style="min-height : 200px">

                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.ActualizacionOrganizacion.Organizacion.OrganizacionId)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.ActualizacionOrganizacion.Organizacion.OrganizacionId)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.ActualizacionOrganizacion.Organizacion.RUT)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.ActualizacionOrganizacion.Organizacion.RUT)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.ActualizacionOrganizacion.Organizacion.RazonSocial)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.ActualizacionOrganizacion.Organizacion.RazonSocial)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.ActualizacionOrganizacion.Organizacion.TipoOrganizacion.Nombre)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.ActualizacionOrganizacion.Organizacion.TipoOrganizacion.Nombre)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.ActualizacionOrganizacion.Organizacion.Rubro.Nombre)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.ActualizacionOrganizacion.Organizacion.Rubro.Nombre)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.ActualizacionOrganizacion.Organizacion.SubRubro.Nombre)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.ActualizacionOrganizacion.Organizacion.SubRubro.Nombre)
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Datos del solicitante</div>
                    <div class="panel-body" style="min-height : 200px">

                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.ActualizacionOrganizacion.Proceso.Solicitante.Rut)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.ActualizacionOrganizacion.Proceso.Solicitante.Rut)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.ActualizacionOrganizacion.Proceso.Solicitante.Nombres)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.ActualizacionOrganizacion.Proceso.Solicitante.Nombres)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.ActualizacionOrganizacion.Proceso.Solicitante.Apellidos)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.ActualizacionOrganizacion.Proceso.Solicitante.Apellidos)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.ActualizacionOrganizacion.Proceso.Solicitante.Email)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.ActualizacionOrganizacion.Proceso.Solicitante.Email)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.ActualizacionOrganizacion.Proceso.Solicitante.Fono)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.ActualizacionOrganizacion.Proceso.Solicitante.Fono)
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-md-12">
                @if (Model.Organizacion != null)
                {
                    <div class="alert alert-danger" role="alert">
                        <strong>Direcotorio actual </strong>perteneciente a la Organización
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">Directorio <strong>Actual</strong></div>
                        <div class="panel-body">

                            <table class="table table-hover table-striped datatable">
                                <thead>
                                    <tr>
                                        <th>Nombre Completo</th>
                                        <th>RUT</th>
                                        <th>Cargo</th>
                                        <th>Género</th>
                                        <th>Desde</th>
                                        <th>Hasta</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (var item in Model.Directorios)
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(m => item.NombreCompleto)</td>
                                                <td>@Html.DisplayFor(m => item.Rut)</td>
                                                <td>@Html.DisplayFor(m => item.Cargo.Nombre)</td>
                                                <td>@Html.DisplayFor(m => item.Genero.Nombre)</td>
                                                <td>@(@String.Format("{0:dd-MM-yyyy}", item.FechaInicio) != "" ? @String.Format("{0:dd-MM-yyyy}", item.FechaInicio) : "No Definido")</td>
                                                <td>@(@String.Format("{0:dd-MM-yyyy}", item.FechaTermino) != "" ? @String.Format("{0:dd-MM-yyyy}", item.FechaInicio) : "No Definido")</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
            </div>

            <div class="col-md-12">
                @if (Model.ActualizacionOrganizacion != null)
                {

                    <div class="alert alert-success" role="alert">
                        Solicitud <strong>actualizacion de Directorio</strong> para la Organización
                    </div>

                    using (Html.BeginForm("ActualizarOrganizacionDirectorio", null, FormMethod.Post))
                    {

                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Workflow.WorkflowId)
                        @Html.HiddenFor(model => model.Organizacion.OrganizacionId)
                        @Html.HiddenFor(model => model.ActualizacionOrganizacion.ActualizacionOrganizacionId)
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="panel panel-default">
                            <div class="panel-heading">Directorio <strong>Solicitado</strong></div>
                            <div class="panel-body">
                                <div id="directorio">
                                    @if (Model.ActualizacionOrganizacion.Directorio.Any())
                                    {
                                        <table class="table table-hover table-striped datatable">
                                            <thead>
                                                <tr>
                                                    <th>Nombre Completo</th>
                                                    <th>RUT</th>
                                                    <th>Cargo</th>
                                                    <th>Género</th>
                                                    <th>Desde</th>
                                                    <th>Hasta</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    foreach (var item in Model.ActualizacionOrganizacion.Directorio)
                                                    {
                                                        <tr>
                                                            <td>@Html.DisplayFor(m => item.NombreCompleto)</td>
                                                            <td>@Html.DisplayFor(m => item.Rut)</td>
                                                            <td>@Html.DisplayFor(m => item.Cargo.Nombre)</td>
                                                            <td>@Html.DisplayFor(m => item.Genero.Nombre)</td>
                                                            <td>@Html.DisplayFor(m => item.FechaInicio)</td>
                                                            <td>@Html.DisplayFor(m => item.FechaTermino)</td>
                                                            <td>@(@String.Format("{0:dd-MM-yyyy}", item.FechaInicio) != "" ? @String.Format("{0:dd-MM-yyyy}", item.FechaInicio) : "No Definido")</td>
                                                            <td>@(@String.Format("{0:dd-MM-yyyy}", item.FechaTermino) != "" ? @String.Format("{0:dd-MM-yyyy}", item.FechaInicio) : "No Definido")</td>
                                                        </tr>

                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    }

                                </div>
                            </div>
                        </div>

                        <input type="submit" value="Guardar" class="btn btn-primary" />
                    }
                }
            </div>
        </div>
    </div>
</div>
