
@*@model App.Web.Controllers.TaskConstroller.DTOFileUploadEdit*@
    @model DAES.Web.BackOffice.Controllers.TaskController.DTOFileUploadEdit

@*@Html.Action("Header", "Workflow", new { Model.WorkflowId })*@
@*@Html.HiddenFor(q => q.WorkflowId)
@Html.HiddenFor(q => q.ProcesoId)*@

<style>
    .container {
        width: 85%;
    }
</style>

<div class="container">
    @Html.Partial("_Message")

    @if (!Model.TieneFirma)
    {
        <p class="red-text">Usted no posee una firma electrónica configurada.</p>
    }
    <div class="row">
        <div class="col s12 m8 l8">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Firma de documento</span>
                    <div class="input-field">
                        <strong>@Html.DisplayNameFor(m => Model.TipoDocumentoDescripcion)</strong><br />
                        @Html.DisplayFor(m => Model.TipoDocumentoDescripcion)
                    </div>

                    <div class="input-field truncate">
                        <strong>@Html.DisplayNameFor(m => Model.URL)</strong><br />
                        @if (!string.IsNullOrWhiteSpace(Model.URL))
                        {
                            <a href="@Model.URL" target="_blank">@Model.URL</a>
                        }
                        else
                        {
                            @Html.DisplayFor(m => Model.URL)
                        }
                    </div>

                    <div class="input-field">
                        <strong>@Html.DisplayNameFor(m => Model.Autor)</strong><br />
                        @Html.DisplayFor(m => Model.Autor)
                    </div>
                    <div class="input-field">
                        <strong>@Html.DisplayNameFor(m => Model.FechaCreacion)</strong><br />
                        @Html.DisplayFor(m => Model.FechaCreacion)
                    </div>
                    @if (!string.IsNullOrWhiteSpace(Model.Folio))
                    {
                        <div class="input-field">
                            <strong>@Html.DisplayNameFor(m => Model.Folio)</strong><br />
                            @Html.DisplayFor(m => Model.Folio)
                        </div>
                    }
                    @if (Model.File != null)
                    {
                        <div class="input-field">
                            <strong>@Html.DisplayNameFor(m => Model.File)</strong>
                            <embed src="@Url.Action("ShowDocumentoSinFirma", "FirmaDocumento", new { id = Model.FirmaDocumentoId })" type="application/pdf" width="100%" height="600px"></embed>
                        </div>
                    }

                    @if (Model.TieneFirma)
                    {
                        <div class="input-field">
                            <a class="waves-effect waves-light btn modal-trigger btn blue" href="#modalFirma">Firmar documento</a>
                        </div>
                    }

                    <div id="modalFirma" class="modal">
                        <div class="modal-content">
                            <h4>Confirmación</h4>
                            <p>¿ Confirma la operación de firma electrónica del documento?</p>
                        </div>
                        <div class="modal-footer m1">
                            @using (Html.BeginForm("Sign"))
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => Model.FirmaDocumentoId)
                                @Html.HiddenFor(model => Model.Autor)
                                @Html.HiddenFor(model => Model.Firmante)
                                @Html.HiddenFor(model => Model.TipoDocumentoCodigo)
                                <button class="waves-effect waves-light btn blue" type="submit">Confirmar</button>
                                <a href="#!" class="modal-close waves-effect btn grey">Cancelar</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l4">
            @*@Html.Action("Documents", "Workflow", new { Model.WorkflowId })
            @Html.Action("History", "Workflow", new { Model.WorkflowId })*@
        </div>
    </div>
</div>
@*@Html.Action("Footer", "Workflow", new { Model.WorkflowId })*@

<script type="text/javascript">
    $(document).ready(function () {
        $('.modal').modal();
        $('.tooltipped').tooltip();
        $('input:hidden').each(function (index, element) {
            $(element).appendTo($(element).parent());
        });
    });
</script>
