<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Otros trámites</h1>
        <p class="lead">Todos los trámites de esta sección requiren <a href="https://claveunica.gob.cl/" target="_blank">clave única.</a> </p>
    </div>
</div>
<div class="container my-3">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 p-1 d-flex">
            <a href='@Url.Action("Index","Actualizacion")' class="btn btn-outline-primary">
                <p><h4><u>Modificar antecedentes</u></h4></p>
                <p>
                    Para iniciar este trámite necesita usar clave única.
                </p>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 p-1 d-flex">
            <a href='@Url.Action("Index","ModificacionEstatutoAsociacion")' class="btn btn-outline-primary">
                <p><h4><u>Modificar estatutos AG-AC </u></h4></p>
                <p>
                    Para iniciar este trámite necesita usar clave única.
                </p>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 p-1 d-flex">
            <a href='@Url.Action("Index","ActualizacionNumeroSociosAsociacion")' class="btn btn-outline-primary">
                <p><h4><u>Modificar número de socios AG-AC</u></h4></p>
                <p>
                    Para iniciar este trámite necesita usar clave única.
                </p>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 p-1 d-flex">
            <a href='@Url.Action("Index","JuntaGeneralSociosObligatoriaCooperativa")' class="btn btn-outline-primary">
                <p><h4><u>Actualizar junta general de socios</u></h4></p>
                <p>
                    Para iniciar este trámite necesita usar clave única.
                </p>
            </a>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6 p-1 d-flex">
            <a href='@Url.Action("Index", "ReformaEstatutosCooperativa")' class="btn btn-outline-primary">
                <p><h4><u>Modificar estatutos cooperativa</u></h4></p>
                <p>
                    Para iniciar este trámite necesita usar clave única.
                </p>
            </a>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6 p-1 d-flex">
            <a href='@Url.Action("Index","FusionCooperativa")' class="btn btn-outline-primary">
                <p><h4><u>Fusionar cooperativa</u></h4></p>
                <p>
                    Para iniciar este trámite necesita usar clave única.
                </p>
            </a>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6 p-1 d-flex">
            <a href='@Url.Action("Index","DivisionCooperativa")' class="btn btn-outline-primary">
                <p><h4><u>Dividir cooperativa</u></h4></p>
                <p>
                    Para iniciar este trámite necesita usar clave única.
                </p>
            </a>
        </div>


        <div class="col-lg-4 col-md-6 col-sm-6 p-1 d-flex">
            <a href='@Url.Action("Index","TransformacionCooperativa")' class="btn btn-outline-primary">
                <p><h4><u>Transformar cooperativa</u></h4></p>
                <p>
                    Para iniciar este trámite necesita usar clave única.
                </p>
            </a>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6 p-1 d-flex">
            <a href='@Url.Action("Index","DisolucionCooperativa")' class="btn btn-outline-primary">
                <p><h4><u>Disolver cooperativa</u></h4></p>
                <p>
                    Para iniciar este trámite necesita usar clave única.
                </p>
            </a>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6 p-1 d-flex">
            <a href='@Url.Action("Index","AsambleaOrdinariaAsociacion")' class="btn btn-outline-primary">
                <p><h4><u>Asamblea ordinaria AG-AC</u></h4></p>
                <p>
                    Para iniciar este trámite necesita usar clave única.
                </p>
            </a>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6 p-1 d-flex">
            <a href='@Url.Action("Index","AsambleaExtraOrdinariaAsociacion")' class="btn btn-outline-primary">
                <p><h4><u>Asamblea extraordinaria AG-AC</u></h4></p>
                <p>
                    Para iniciar este trámite necesita usar clave única.
                </p>
            </a>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6 p-1 d-flex">
            <a href='@Url.Action("Index","DisolucionAsociacion")' class="btn btn-outline-primary">
                <p><h4><u>Disolver AG-AC</u></h4></p>
                <p>
                    Para iniciar este trámite necesita usar clave única.
                </p>
            </a>
        </div>
    </div>
</div>
<div class="container my-3">
    Volver al <a href='@Url.Action("Index", "DAES")'>DAES digital</a>
</div>