<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">
            Cooperativas de Importancia Económica (CIE)
        </h1>
        <p class="lead">
            En esta sección se encuentran los trámites de las Cooperativas de Importancia Económica, correspondientes a la remisión de los formularios del modelo de supervisión y cumplimiento de los artículos 90° y 91° de la RAE 1321 de la DAES.
            Estos trámites requieren <a href="https://claveunica.gob.cl/" target="_blank">clave única.</a>
        </p>
    </div>
</div>
<div class="container my-3">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 p-1 d-flex">
            <a href='@Url.Action("Index", "Supervision")' class="btn btn-outline-primary">
                <p><h4><u>Modelo de supervisión de cooperativas</u></h4></p>
                <p>
                    Envío documentación financiero-contable del modelo de supervisión de cooperativas
                </p>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 p-1 d-flex">
            <a href='@Url.Action("Index","Articulo90")' class="btn btn-outline-primary">
                <p><h4><u>Cumplimiento del Artículo 90</u></h4></p>
                <p>
                    Envío documentación para el cumplimiento del Artículo 90°
                </p>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 p-1 d-flex">
            <a href='@Url.Action("Index","Articulo91")' class="btn btn-outline-primary">
                <p><h4><u>Cumplimiento del Artículo 91</u></h4></p>
                <p>
                    Envío documentación para el cumplimiento del Artículo 91°
                </p>
            </a>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6 p-1 d-flex">
            <a href='@Url.Action("Index","PublicacionFinanciera")' class="btn btn-outline-primary">
                <p><h4><u>Publicaciones financieras de las cooperativas </u></h4></p>
                <p>
                    Consulta de publicaciones financieras de cooperativas del Artículo 91°
                </p>
            </a>
        </div>


        <div class="col-lg-4 col-md-6 col-sm-6 p-1 d-flex">
            <a href='@Url.Action("Index", "EstudioSAhorroCredito")' class="btn btn-outline-primary">
                <p><h4><u>Estudio Socioeconómico de Cooperativas Abiertas </u></h4></p>
                <p>
                    Para los interesados en formar una cooperativa de ahorro y crédito o una cooperativa de vivienda abierta
                </p>
            </a>
        </div>
    </div>
</div>

<div class="container my-3">
    Volver al <a href='@Url.Action("Index", "DAES")'>DAES digital</a>
</div>
