@model IEnumerable<DAES.Model.SistemaIntegrado.TipoOficio>
@{
    ViewBag.Title = "Tipo de oficio";
}

<table class="table table-hover table-striped datatable">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().TipoOficioId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Descripcion)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoOficioId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.ActionLink("Detalles", "Details", new { id = item.TipoOficioId })
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("Crear nuevo", "Create") |
@Html.ActionLink("Volver al inicio", "Index", "Home")