@model DAES.Model.SistemaIntegrado.Ayuda

@{
    ViewBag.Title = "Detalles";
    ViewBag.SubTitle = "Ayuda";
}

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pregunta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pregunta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Respuesta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Respuesta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valoracion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valoracion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.AyudaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
