@model DAES.Model.SistemaIntegrado.Proceso

@{
    ViewBag.Title = "Editar";
    ViewBag.SubTitle = "Proceso";
}
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<script>
    $(document).ready(function () {
        $("#NombreOrganizacion").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Proceso/GetOrganizacion/",
                    data: { term: request.term },
                    type: "POST",
                    success: function (data) {
                        response($.map(data,
                            function (item) {
                                return { id: item.id, value: item.value };
                            }));
                    }
                });
            },

            select: function (event, ui) {
                $("#NombreOrganizacion").val(ui.item.value);
                $("#OrganizacionId").val(ui.item.id);
                return false;
            }
        });
    });
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.ProcesoId)
    @Html.HiddenFor(model => model.OrganizacionId)
    @Html.HiddenFor(model => model.FechaCreacion)
    @Html.HiddenFor(model => model.SolicitanteId)
    @Html.HiddenFor(model => model.Terminada)
    @Html.HiddenFor(model => model.Correlativo)
    @Html.HiddenFor(model => model.DocumentoId)

    <div class="form-group">
        @Html.LabelFor(model => model.DefinicionProcesoId, "Definición de proceso", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("DefinicionProcesoId", null, "Seleccione...", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DefinicionProcesoId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.OrganizacionId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Editor("NombreOrganizacion", null, new { htmlAttributes = new { @class = "form-control", placeholder = "Ingrese razón social o número de registro" } })
            @Html.ValidationMessageFor(model => model.OrganizacionId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Observacion, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Observacion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Observacion, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FechaVencimiento, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FechaVencimiento, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FechaVencimiento, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Guardar" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Volver a la lista", "Index")
</div>