

@model IEnumerable<DAES.Model.SistemaIntegrado.ExistenciaPosterior>
@using GridMvc.Html


<div class="panel panel-default" style="overflow-x:scroll">
    <div class="panel-heading">Autorización de existencia legal posterior al 2003</div>
    <div class="panel-body">
        <table class="table table-hover table-striped ">
            <thead>
                <tr>
                    @if (Model.Any(q => q.FechaConstitutivaSocios != null))
                    {
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().FechaConstitutivaSocios)
                        </th>
                    }
                    @if (Model.Any(q => q.FechaEscrituraPublica != null))
                    {
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().FechaEscrituraPublica)
                        </th>
                    }
                    @if (Model.Any(q => q.FechaPublicacionn != null))
                    {
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().FechaPublicacionn)
                        </th>
                    }
                    @if (Model.Any(q => q.DatosGeneralesNotario != null))
                    {
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().DatosGeneralesNotario)
                        </th>
                    }

                    @if (Model.Any(q => q.Fojas != null))
                    {
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().Fojas)
                        </th>
                    }
                    @if (Model.Any(q => q.AnoInscripcion != null))
                    {
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().AnoInscripcion)
                        </th>
                    }
                    @if (Model.Any(q => q.DatosCBR != null))
                    {
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().DatosCBR)
                        </th>
                    }

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    @if (item.FechaConstitutivaSocios != null)
                    {
                        <td>
                            @Html.DisplayFor(model => item.FechaConstitutivaSocios)
                        </td>
                    }
                    @if (item.FechaEscrituraPublica != null)
                    {
                        <td>
                            @Html.DisplayFor(model => item.FechaEscrituraPublica)
                        </td>
                    }
                    @if (item.FechaPublicacionn != null)
                    {
                        <td>
                            @Html.DisplayFor(model => item.FechaPublicacionn)
                        </td>
                    }
                    @if (item.DatosGeneralesNotario != null)
                    {
                        <td>
                            @Html.DisplayFor(model => item.DatosGeneralesNotario)
                        </td>
                    }
                    @if (item.Fojas != null)
                    {
                        <td>
                            @Html.DisplayFor(model => item.Fojas)
                        </td>
                    }
                    @if (item.AnoInscripcion != null)
                    {
                        <td>
                            @Html.DisplayFor(model => item.AnoInscripcion)
                        </td>
                    }
                    @if (item.DatosCBR != null)
                    {
                        <td>
                            @Html.DisplayFor(model => item.DatosCBR)
                        </td>
                    }


                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
