@model IEnumerable<DAES.Model.SistemaIntegrado.ExistenciaLegal>
@using GridMvc.Html


<div class="panel panel-default" style="overflow-x:scroll">
    <div class="panel-heading">Autorización de existencia legal</div>
    <div class="panel-body">
        <table class="table table-hover table-striped ">
            <thead>
                <tr>
                    @if (Model.Any(q => q.NumeroNorma != null))
                    {
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().NumeroNorma)
                        </th>
                    }
                    @if (Model.Any(q => q.FechaPublicacionn != null))
                    {
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().FechaPublicacionn)
                        </th>
                    }
                    @if (Model.Any(q => q.FechaNorma != null))
                    {
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().FechaNorma)
                        </th>
                    }
                    @if (Model.Any(q => q.AutorizadoPor != null))
                    {
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().AutorizadoPor)
                        </th>
                    }

                    @if (Model.Any(q => q.FechaConstitutivaSocios != null))
                    {
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().FechaConstitutivaSocios)
                        </th>
                    }
                    @if (Model.Any(q => q.FechaEscrituraPublica != null))
                    {
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().FechaEscrituraPublica)
                        </th>
                    }
                    @if (Model.Any(q => q.DatosGeneralesNotario != null))
                    {
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().DatosGeneralesNotario)
                        </th>
                    }
                    @if (Model.Any(q => q.Fojas != null))
                    {
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().Fojas)
                        </th>
                    }
                    @if (Model.Any(q => q.FechaInscripcion != null))
                    {
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().FechaInscripcion)
                        </th>
                    }
                    @if (Model.Any(q => q.DatosCBR != null))
                    {
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().DatosCBR)
                        </th>
                    }
                    @if (Model.Any(q => q.Aprobacion != null))
                    {
                        <th>
                            @Html.DisplayNameFor(model => model.Aprobacion)
                        </th>
                    }
                    @if (Model.Any(q => q.FechaOficio != null))
                    {
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().FechaOficio)
                        </th>
                    }
                    <th>
                        @if (Model.Any(q => q.NumeroOficio != null))
                        {
                            @Html.DisplayNameFor(model => model.FirstOrDefault().NumeroOficio)
                        }
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @if (item.NumeroNorma != null)
                        {
                            <td>
                                @Html.DisplayFor(model => item.NumeroNorma)
                            </td>
                        }
                        @if (item.FechaPublicacionn != null)
                        {
                            <td>
                                @Html.DisplayFor(model => item.FechaPublicacionn)
                            </td>
                        }
                        @if (item.FechaNorma != null)
                        {
                            <td>
                                @Html.DisplayFor(model => item.FechaNorma)
                            </td>
                        }
                        @if (item.AutorizadoPor != null)
                        {
                            <td>
                                @Html.DisplayFor(model => item.AutorizadoPor)
                            </td>
                        }
                        @if (item.FechaConstitutivaSocios != null)
                        {
                            <td>
                                @Html.DisplayFor(model => item.FechaConstitutivaSocios)
                            </td>
                        }
                        @if (item.FechaEscrituraPublica != null)
                        {
                            <td>
                                @Html.DisplayFor(model => item.FechaEscrituraPublica)
                            </td>
                        }
                        @if (item.DatosGeneralesNotario != null)
                        {
                            <td>
                                @Html.DisplayFor(model => item.DatosGeneralesNotario)
                            </td>
                        }
                        @if (item.Fojas != null)
                        {
                            <td>
                                @Html.DisplayFor(model => item.Fojas)
                            </td>
                        }
                        @if (item.FechaInscripcion != null)
                        {
                            <td>
                                @Html.DisplayFor(model => item.FechaInscripcion)
                            </td>
                        }
                        @if (item.DatosCBR != null)
                        {
                            <td>
                                @Html.DisplayFor(model => item.DatosCBR)
                            </td>
                        }
                        @if (item.AprobacionId != null)
                        {
                            <td>
                                @Html.DisplayFor(model => item.Aprobacion.Nombre)
                            </td>
                        }
                        @if (item.FechaOficio != null)
                        {
                            <td>
                                @Html.DisplayFor(model => item.FechaOficio)
                            </td>
                        }
                        @if (item.NumeroOficio != null)
                        {
                            <td>
                                @Html.DisplayFor(model => item.NumeroOficio)
                            </td>
                        }
                        <td>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
