
@model IEnumerable<DAES.Model.SistemaIntegrado.ExistenciaAnterior>
@using GridMvc.Html


<div class="panel panel-default" style="overflow-x:scroll">
    <div class="panel-heading">Autorización de existencia legal anterior al 2003</div>
    <div class="panel-body">
        <table class="table table-hover table-striped ">
            <thead>
                <tr>
                    @if (Model.Any(q => q.TipoNormaId != null))
                    {
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().TipoNormaId)
                        </th>
}
                    @if (Model.Any(q => q.NNorma != null))
                    {
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().NNorma)
                        </th>
}
                    @if (Model.Any(q => q.FNorma != null))
                    {
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().FNorma)
                        </th>
}
                    @if (Model.Any(q => q.FechaPublicacion != null))
                    {
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().FechaPublicacion)
                        </th>
}

                    @if (Model.Any(q => q.Autorizado != null))
                    {
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().Autorizado)
                        </th>
}
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @if (item.TipoNormaId != null)
                        {
                            <td>
                                @Html.DisplayFor(model => item.tipoNorma.Nombre)
                            </td>
}
                        @if (item.NNorma != null)
                        {
                            <td>
                                @Html.DisplayFor(model => item.NNorma)
                            </td>
}
                        @if (item.FNorma != null)
                        {
                            <td>
                                @Html.DisplayFor(model => item.FNorma)
                            </td>
}
                        @if (item.FechaPublicacion != null)
                        {
                            <td>
                                @Html.DisplayFor(model => item.FechaPublicacion)
                            </td>
}
                        @if (item.Autorizado != null)
                        {
                            <td>
                                @Html.DisplayFor(model => item.Autorizado)
                            </td>
}
                        
                       
                    </tr>
}
            </tbody>
        </table>
    </div>
</div>
