@model IEnumerable<DAES.Model.SistemaIntegrado.ComisionLiquidadora>

<div id="divDirectorio" name="divDirectorio" style="display:none">
    <h4>Comisión Liquidadora</h4>
    <table class="table table-striped dataTable">
        @for (var i = 0; i < Model.ComisionLiquidadoras.Count(); i++)
        {
            @Html.HiddenFor(model => model.ComisionLiquidadoras[i].OrganizacionId)
            @Html.HiddenFor(model => model.ComisionLiquidadoras[i].ComisionLiquidadoraId)
            <thead>
                <tr>
                    <th>
                        @Html.LabelFor(m => Model.ComisionLiquidadoras[i].EsMiembro, new { htmlAttributes = new { @class = "control-label col-6" } })
                    </th>
                    <th>
                        @Html.LabelFor(m => Model.ComisionLiquidadoras[i].NombreCompleto, new { htmlAttributes = new { @class = "control-label col-6" } })
                    </th>
                    <th>
                        @Html.LabelFor(m => Model.ComisionLiquidadoras[i].Rut, new { htmlAttributes = new { @class = "control-label col-6" } })
                    </th>
                    <th>
                        @Html.LabelFor(m => Model.ComisionLiquidadoras[i].Cargo.Nombre, new { htmlAttributes = new { @class = "control-label col-6" } })
                    </th>
                    <th>
                        @Html.LabelFor(m => Model.ComisionLiquidadoras[i].Genero.Nombre, new { htmlAttributes = new { @class = "control-label col-6" } })
                    </th>
                    <th>
                        @Html.LabelFor(m => Model.ComisionLiquidadoras[i].FechaInicio, new { htmlAttributes = new { @class = "control-label col-6" } })
                    </th>
                    <th>
                        @Html.LabelFor(m => Model.ComisionLiquidadoras[i].FechaTermino, new { htmlAttributes = new { @class = "control-label col-6" } })
                    </th>
                </tr>
            </thead>
            <tbody>
                @Html.HiddenFor(model => model.ComisionLiquidadoras[i].CargoId)
                @Html.HiddenFor(model => model.ComisionLiquidadoras[i].GeneroId)
                <tr>
                    <th>
                        @*<input type="checkbox" name="directorio[@i]" id="directorio[@i]" value="@i">*@
                        @Html.EditorFor(m => Model.ComisionLiquidadoras[i].EsMiembro, new { htmlAttributes = new { @class = "form-control", @style = "height: 20px; margin: 14px 0;" } })
                    </th>
                    <th>
                        @Html.EditorFor(m => Model.ComisionLiquidadoras[i].NombreCompleto, new { htmlAttributes = new { @class = "form-control col-6" } })
                    </th>
                    <th>
                        @Html.EditorFor(m => Model.ComisionLiquidadoras[i].Rut, new { htmlAttributes = new { @class = "form-control col-6" } })
                    </th>
                    <th>
                        @Html.DropDownListFor(model => model.ComisionLiquidadoras[i].CargoId, new SelectList(ViewBag.CargoId, "Value", "Text", Model.ComisionLiquidadoras[i].CargoId), "Seleccione...", htmlAttributes: new { @class = "form-control col-6" })
                    </th>
                    <th>
                        @Html.DropDownListFor(model => model.ComisionLiquidadoras[i].GeneroId, new SelectList(ViewBag.GeneroId, "Value", "Text", Model.ComisionLiquidadoras[i].GeneroId), "Seleccione...", htmlAttributes: new { @class = "form-control col-6" })
                    </th>
                    <th>
                        @Html.EditorFor(m => Model.ComisionLiquidadoras[i].FechaInicio, new { htmlAttributes = new { @class = "form-control col-6" } })
                    </th>
                    <th>
                        @Html.EditorFor(m => Model.ComisionLiquidadoras[i].FechaTermino, new { htmlAttributes = new { @class = "form-control col-6" } })
                    </th>
                </tr>
            </tbody>
        }
    </table>
</div>