@model IEnumerable<DAES.Model.SistemaIntegrado.ExistenciaLegal>
@using GridMvc.Html


<div class="panel panel-default" style="overflow-x:scroll">
    <div class="panel-heading">Autorización de existencia legal de Asociaciones gremiales y de consumidores</div>
    <div class="panel-body">
        <table class="table table-hover table-striped ">
            <thead>
                <tr>
                    @if (Model.Any(q => q.NumeroNorma != null))
                    {
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().NumeroNorma)
                        </th>
                    }
                    @if (Model.Any(q => q.FechaPublicacionn != null))
                    {
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().FechaPublicacionn)
                        </th>
                    }
                    @if (Model.Any(q => q.FechaNorma != null))
                    {
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().FechaNorma)
                        </th>
                    }
                    @if (Model.Any(q => q.AutorizadoPor != null))
                    {
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().AutorizadoPor)
                        </th>
                    }

                    @if (Model.Any(q => q.FechaConstitutivaSocios != null))
                    {
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().FechaConstitutivaSocios)
                        </th>
                    }
                    @if (Model.Any(q => q.FechaEscrituraPublica != null))
                    {
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().FechaEscrituraPublica)
                        </th>
                    }
                    @if (Model.Any(q => q.DatosGeneralesNotario != null))
                    {
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().DatosGeneralesNotario)
                        </th>
                    }
                    @if (Model.Any(q => q.Fojas != null))
                    {
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().Fojas)
                        </th>
                    }
                    @if (Model.Any(q => q.FechaInscripcion != null))
                    {
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().FechaInscripcion)
                        </th>
                    }
                    @if (Model.Any(q => q.DatosCBR != null))
                    {
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().DatosCBR)
                        </th>
                    }
                    @if (Model.Any(q => q.Aprobacion != null))
                    {
                        <th>
                            @Html.DisplayNameFor(model => model.Aprobacion)
                        </th>
                    }
                    @if (Model.Any(q => q.FechaOficio != null))
                    {
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().FechaOficio)
                        </th>
                    }
                    <th>
                        @if (Model.Any(q => q.NumeroOficio != null))
                        {
                            @Html.DisplayNameFor(model => model.FirstOrDefault().NumeroOficio)
                        }
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @string.Format("{0:dd-MM-yyyy HH:mm:ss}", item.Fecha)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.NumeroOficio)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Vigente)
                        </td>
                        <td>
                            @if (item.Vigente)
                            {
                                <p>Si</p>
                            }
                            else
                            {
                                <p>No</p>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>       
    </div>
</div>
