@model DAES.Model.SistemaIntegrado.TipoDocumento

@{
    ViewBag.Title = "Detalles";
    ViewBag.SubTitle = "Tipo de documentos";
}

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GeneracionManual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GeneracionManual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EsVigente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EsVigente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiasVigencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiasVigencia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.TipoDocumentoId }) |
    @Html.ActionLink("Volver al listado", "Index")
</p>
